<div class="row">
    <div class="col-lg-12">

        <span class="highlight_row without_outline" ng-if="category.hasChildren" data-toggle="collapse" data-target="#{{category.publicId}}"
              ng-click="loadChildren(category, $event)">
            <i ng-class="{'fa fa-fw fa-caret-right' : !category._opened, 'fa fa-fw fa-caret-down' : category._opened, 'fa fa-spinner fa-pulse' : category.isLoadingChildren}"/>
        </span>
        <span class="highlight_row">
            <a ng-if="category.hasChildren"  ng-class="{'active_category' : category._isSelected}" class="without_outline"
               ng-click="loadCategory(category)" href="#/{{category.categoryGroup}}/{{category.publicId}}">
                <i ng-if="category.icon" class="fa fa-fw " ng-class="category.icon"></i>
               {{category.label}}
            </a>

            <a ng-if="!category.hasChildren" ng-class="{'active_category' : category._isSelected}" class="without_outline"
               ng-click="loadCategory(category)" href="#/{{category.categoryGroup}}/{{category.publicId}}">
                <i ng-if="category.icon" class="fa fa-fw " ng-class="category.icon"></i>
               {{category.label}}
            </a>
        </span>
    </div>
</div>

<ul ng-if="category.hasChildren" id="{{category.publicId}}" class="collase">
    <li ng-repeat="category in category.children" ng-include="'views/partials/category_element.html'"
        ng-class="{'active' : category._isSelected}">
    </li>
</ul>

