<div id="editLinkModal" class="modal orange-modal fade" role="dialog" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog modal-lg">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header orange-gradient-background">
                <button type="button" class="close" data-dismiss="modal" ng-click="close()">&times;</button>
                <h5 class="modal-title title"><span translate="EDIT_LINK"/></h5>
            </div>
            <div class="modal-body">
                <!-- Nav tabs -->
                <ul class="nav nav-tabs" role="tablist" id="editLinkTabs">
                    <li role="presentation" class="active"><a ng-click="activeTab = 'edit'"
                                                              class="without_outline"
                                                              data-toggle="tab"><span translate="EDIT"/></a></li>
                    <li role="presentation"><a ng-click="activeTab = 'changeCategory'"
                                               class="without_outline"
                                               data-toggle="tab"><span translate="CHANGE_CATEGORY"/></a></li>
                    <li role="presentation"><a ng-click="activeTab = 'deleteLink'"
                                               class="without_outline"
                                               data-toggle="tab"><span translate="DELETE"/></a></li>
                    <li role="presentation"><a ng-click="activeTab = 'preview'"
                                               class="without_outline"
                                               data-toggle="tab"><span translate="PREVIEW"/></a></li>
                </ul>


                <div class="tab-content" ng-show="activeTab === 'edit' || !activeTab">
                    <div ng-include="'views/partials/edit_link_form.html'"></div>
                </div>

                <div class="tab-pane" ng-show="activeTab === 'changeCategory'">
                    <div style="margin-top: 15px;">
                        <ul class="categories_container container-fluid" style="max-height: 300px;">
                            <li ng-repeat="category in mainCategories"
                                ng-include="'views/partials/manage_category_element.html'">
                            </li>
                        </ul>
                        <button type="button" ng-disabled="!selectedCategory"
                                class="btn btn-default button button-full-width" ng-click="changeCategory()"
                                data-dismiss="modal"><span translate="ASSIGN_TO_CATEGORY"/> {{selectedCategory.label}}
                        </button>
                    </div>
                </div>
                <div class="tab-pane" ng-show="activeTab === 'deleteLink'">
                    <div class="row orange-form" style="margin: 5px;">
                        <div class="title" style="margin: 10px;">
                            <span translate="DELETING_LINK_MESSAGE" translate-values="{ linkTitle: '{{link.title}}'}"/>
                        </div>
                    </div>
                    <button type="button"
                            class="btn btn-default button button-full-width" style="margin-top: 20px;"
                            ng-click="deleteLink(link)"
                            data-dismiss="modal"><span translate="DELETE_LINK"/> '{{link.title}}'
                    </button>
                </div>
                <div class="tab-pane" ng-show="activeTab === 'preview'">
                    <div style="margin-top: 15px;">
                        <div ng-include="'views/partials/link_element.html'"></div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
