<div class="row orange-form" style="margin: 5px;">
    <form>
        <div class="form-group">
            <label class="label" translate="TITLE"></label>
            <input type="text" class="form-control input-sm input" placeholder="{{'TITLE' | translate}}"
                   ng-model="link.title" ng-class="{'has-error' : isBlank(link.title)}">
        </div>
        <div class="form-group">
            <label class="label" translate="LINK"></label>
            <input type="text" class="form-control input-sm input" ng-model="link.link" ng-change="checkUrl(link.link)"
                   placeholder="{{'LINK' | translate}}" ng-class="{'has-error' : isBlank(link.link)}">
        </div>
        <div class="form-group">
            <label class="label" translate="COMMENT"></label>
            <textarea type="text" class="form-control input-sm input" ng-model="link.comment"></textarea>
        </div>

        <div class="form-group">
            <label class="label" translate="EXPIRY_DATE"></label>

            <p class="input-group">
                <input type="text"
                       class="form-control input-sm input"
                       ng-model="link.expiryDate"
                       data-date-time-picker/>
                                    <span class="input-group-addon input-sm input"><i
                                            class="glyphicon glyphicon-calendar"></i></span>
            </p>

        </div>

        <div class="form-group">
            <label class="label" translate="TAGS"></label>

            <div style="border-radius: 5px 5px 0px 0px; border: 1px solid #8a6d3b; padding-top: 0px; padding-bottom: 10px; margin-top: 10px;">
                <input type="text" class="form-control input-sm input" style="border: transparent;"
                       ng-model="link._tag" ng-keypress="tagKeypress(link, $event)"
                       placeholder="{{'TAG' | translate}}">

                                    <span class="tag label label-info" style="background-color: #8a6d3b; color: #fff;">
                                      <span>#{{link._tag}}</span>
                                      <a><i class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                                    </span>

                                    <span class="tag label label-info" style="background-color: #8a6d3b; color: #fff;"
                                          ng-repeat-start="tag in link.tags">
                                      <span>#{{tag.label}}</span>
                                      <a ng-click="deleteTag(link, tag);"><i
                                              class="remove glyphicon glyphicon-remove-sign glyphicon-white"></i></a>
                                    </span><span ng-repeat-end></span>
            </div>
        </div>


                            <button type="submit" class="btn btn-default btn-xs button" ng-click="saveLink()"
                                  ng-disabled="isBlank(link.title) || isBlank(link.link)"
                                  data-dismiss="modal"
                                  style="float: right; width: 100px;">
                                <span translate="SAVE"/>
                            </button>
    </form>
</div>