<div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav side-nav" style="overflow-y: hidden;">
        <li class="menu_element">
            <a href="#/home"><i class="fa fa-fw fa-dashboard"></i> <span translate="DASHBOARD"></span></a>
        </li>
        <li class="menu_element">
            <a href="#/addlink"><i class="fa fa-fw fa-plus"></i> <span translate="ADD_LINK"></span></a>
        </li>
        <li class="menu_element">
            <a href="#/search"><i class="fa fa-fw fa-search"></i> <span translate="SEARCH"></span></a>
        </li>
        <li class="menu_element">
            <a href="#/friends"><i class="fa fa-fw fa-users"></i> <span translate="FRIENDS"></span></a>
        </li>
        <li class="menu_element">
            <a href="#/categories"><i class="fa fa-fw fa-list"></i> <span translate="CATEGORIES"></span></a>
        </li>
        <li class="menu_element">
            <a href="#/settings"><i class="fa fa-fw fa-wrench"></i> <span translate="SETTINGS"></span></a>
        </li>
        <li style="height: 100%;">
            <ul class="categories_tree_container container"
                data-ng-controller="categoriesTreeCtrl" style="height: calc(100% - 205px);">
                <li ng-repeat="category in mainCategories"
                    ng-include="'views/partials/category_element.html'">
                </li>
            </ul>
        </li>
    </ul>
</div>