<div class="row">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-warning link_panel">
            <div class="panel-heading orange-gradient-background link_panel_header">

                <div class="col-lg-9 title">
                    <span class="fa star without_outline" ng-class="{'fa-star-o' : !link.isMarked, 'fa-star' : link.isMarked}" aria-hidden="true" ng-click="star(link)"></span>
                    <strong>{{link.category.label}}</strong> {{link.title}}
                </div>
                <div class="col-lg-3 ">
                    <div class="row">
                        <div class="col-lg-12 edit">
                            <a ng-click="editLink(link);" class="without_outline"><i
                                    class="fa fa-pencil-square-o"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action_bar">
                <a auto-hide-on-no-flash="true" clip-click="linkCopied(link.link)"
                   clip-click-fallback="copyFallback(copy)" class="label label-warning copy_to_clipboard"
                   clip-copy="link.link">Kopiuj do schowka</a>

                <a class="label label-warning share_link">Udostępnij ...</a>
            </div>
            <div class="panel-body">

                <div class="row link_panel_body">
                    <div class="col-lg-5 link_content column">

                        <div ng-if="link.category.categoryGroup === 'photos'">
                            <a ng-href="{{link.link}}"
                               class="thumbnail" target="_new">
                                <img ng-if="settings.imagePreload === 'auto'" ng-src="{{link.link}}"
                                     onerror="this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiXEpK2jd3kpswq-For2q1KvRImu9uwoeqQaDgAbfbh8XbTUQJ6g';">
                                <img ng-if="settings.imagePreload === 'placeholder'" ng-src="images/placeholder.png">
                            </a>
                        </div>

                        <div ng-if="link.category.categoryGroup === 'videos'">
                            <video controls class="thumbnail" controls="controls" preload="{{settings.videoPreload}}">
                                <source ng-src="{{link.link}}">
                                Twoja przeglądarka nie obsługuje odtwarzania filmów.
                            </video>
                        </div>

                        <div ng-if="link.category.categoryGroup === 'youtube'">
                            <iframe ng-src="{{link.link}}" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <a ng-href="{{link.link}}" target="_new">{{link.link}}</a>

                    </div>

                    <div class="col-lg-4 column">
                        <div class="row">
                            <div class="category_header">Komentarz:</div>
                            <div ng-if="link.comment" class="comment">
                                {{link.comment | limitTo: commentLengthLimit(link)}}
                                <a class="row" ng-show="showMoreVisible(link)" ng-click="showMore(link)">Więcej ...</a>
                                <a class="row" ng-show="showLessVisible(link)" ng-click="showLess(link)">Mniej ...</a>
                            </div>
                            <div ng-if="!link.comment" class="comment default_value">
                                Brak komentarza
                            </div>
                        </div>


                        <div class="row gap"></div>

                        <div class="row">
                            <div class="category_header">Link wygasa:</div>
                            <div class="expiry_date" ng-if="link.expiryDate">{{link.expiryDate | dateTimeFilter }}</div>
                            <div class="expiry_date default_value" ng-if="!link.expiryDate">Nigdy</div>
                        </div>

                    </div>

                    <div class="col-lg-3 column">
                        <div class="row">
                            <div class="category_header">Autor:</div>
                            <div class="author">{{link.author.name}}</div>
                        </div>
                        <div class="row gap"></div>

                        <div class="row">
                            <div class="category_header">Data dodania:</div>
                            <div class="expiry_date">{{link.date | dateTimeFilter }}</div>
                        </div>

                        <div class="row gap"></div>
                        <div class="row">
                            <div class="category_header">Słowa kluczowe</div>
                            <div class="tags">
                                <a class="label label-default"
                                   ng-repeat-start="tag in link.tags">#{{tag.label}}</a>
                                <span ng-repeat-end></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
