<div class="row" data-ng-controller="linkElementCtrl">
    <div class="col-lg-12 col-md-12">
        <div class="panel panel-warning link_panel">
            <div class="panel-heading orange-gradient-background link_panel_header">

                <div class="col-lg-9 title">
                    <span class="fa star without_outline" ng-class="{'fa-star-o' : !link.isMarked, 'fa-star' : link.isMarked}" aria-hidden="true" ng-click="star(link)" title="{{'ADD_STAR' | translate}}"></span>
                    <strong>{{link.category.label | translate}}</strong> {{link.title}}
                </div>
                <div class="col-lg-3 ">
                    <div class="row">
                        <div class="col-lg-12 edit">
                            <a ng-click="editLink(link);" class="without_outline"><i
                                    class="fa fa-pencil-square-o" title="{{'EDIT' | translate}}"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="action_bar">
                <a auto-hide-on-no-flash="true" clip-click="linkCopied(link.link)"
                   clip-click-fallback="copyFallback(copy)" class="label label-warning copy_to_clipboard"
                   clip-copy="link.link"><span translate="COPY_TO_CLIPBOARD"/></a>

                <a class="label label-warning share_link without_outline" ng-click="share(link)"><span translate="SHARE"/> ...</a>
            </div>
            <div class="panel-body">

                <div class="row link_panel_body">
                    <div class="col-lg-5 link_content column">
                        <div ng-if="link.category.categoryGroup === 'PHOTOS'">
                            <a ng-href="{{link.link}}"
                               class="thumbnail" target="_new">
                                <img ng-if="settings.imagePreload === 'auto'" ng-src="{{link.link}}"
                                     onerror="this.src = 'https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRiXEpK2jd3kpswq-For2q1KvRImu9uwoeqQaDgAbfbh8XbTUQJ6g';">
                                <img ng-if="settings.imagePreload === 'placeholder'" ng-src="images/placeholder.png">
                            </a>
                        </div>

                        <div ng-if="link.category.categoryGroup === 'VIDEOS'">
                            <video controls class="thumbnail" controls="controls" preload="{{settings.videoPreload}}">
                                <source ng-src="{{link.link}}">
                                <span translate="BROWSER_DOESNT_SUPPORT_VIDEO"/>
                            </video>
                        </div>

                        <div ng-if="link.category.categoryGroup === 'YOUTUBE'">
                            <iframe ng-src="{{link.link}}" frameborder="0" allowfullscreen></iframe>
                        </div>

                        <a ng-href="{{link.link}}" target="_new">{{link.link}}</a>

                    </div>

                    <div class="col-lg-4 column">
                        <div class="row">
                            <div class="category_header"><span translate="COMMENT"/>:</div>
                            <div ng-if="link.comment" class="comment">
                                {{link.comment | limitTo: commentLengthLimit(link)}}
                                <a class="row" ng-show="showMoreVisible(link)" ng-click="showMore(link)"><span translate="MORE"/> ...</a>
                                <a class="row" ng-show="showLessVisible(link)" ng-click="showLess(link)"><span translate="LESS"/> ...</a>
                            </div>
                            <div ng-if="!link.comment" class="comment default_value">
                                <span translate="NO_COMMENT"/>
                            </div>
                        </div>

                        <div class="row gap"></div>

                        <div class="row">
                            <div class="category_header"><span translate="EXPIRY_DATE"/>:</div>
                            <div class="expiry_date" ng-if="link.expiryDate">{{link.expiryDate | dateTimeFilter }}</div>
                            <div class="expiry_date default_value" ng-if="!link.expiryDate"><span translate="NEVER"/></div>
                        </div>

                    </div>

                    <div class="col-lg-3 column">
                        <div class="row">
                            <div class="category_header"><span translate="AUTHOR"/>:</div>
                            <div class="author">{{link.author.name}}</div>
                        </div>
                        <div class="row gap"></div>

                        <div class="row">
                            <div class="category_header"><span translate="CREATION_DATE"/>:</div>
                            <div class="expiry_date">{{link.date | dateTimeFilter }}</div>
                        </div>

                        <div class="row gap"></div>
                        <div class="row">
                            <div class="category_header"><span translate="TAGS"/>:</div>
                            <div class="tags">
                                <a class="label label-default"
                                   ng-repeat-start="tag in link.tags">#{{tag.label}}</a>
                                <span ng-repeat-end></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
