.show_message {
    animation: fadein 5s;
    -moz-animation: fadein 5s;
    -webkit-animation: fadein 5s;
    -o-animation: fadein 5s;
}

.slide_in_animation {
    animation: slideIn 3s;
    -moz-animation: slideIn 3s;
    -webkit-animation: slideIn 3s;
    -o-animation: slideIn 3s;
}

@keyframes fadein {
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-moz-keyframes fadein {
    /* Firefox */
    0% {
        opacity: 0;

    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-webkit-keyframes fadein {
    /* Safari and Chrome */
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}

@-o-keyframes fadein {
    /* Opera */
    0% {
        opacity: 0;
    }
    40% {
        opacity: 1;
    }
    60% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        visibility: hidden;
    }
}



















@keyframes slideIn {
    0% {
        top: -50px;
    }
    100% {
        top: -5px;
    }
}

@-moz-keyframes slideIn {
    /* Firefox */
    0% {
        top: -50px;
    }
    100% {
        top: -5px;
    }
}

@-webkit-keyframes slideIn {
    /* Safari and Chrome */
    0% {
        top: -50px;
    }
    100% {
        top: -5px;
    }
}

@-o-keyframes slideIn {
    /* Opera */
    0% {
        top: -50px;
    }
    100% {
        top: -5px;
    }
}