@media (min-width:768px) {
    .categories_tree_container {
        position: relative;
        height: calc(100% - 205px);
        width: 275px;
        margin-left: 10px;
        border: 1px;
        border-radius:  7px 0px 0px 0px;
        box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
        border: 1px solid #999;
        overflow: auto;
        color: #9d9d9d;
        font-size: 13px;
        display: block;
        white-space: nowrap;
    }

    .categories_tree_container li a:hover,
    .categories_tree_container li a:focus {
        outline: none;
    }

    .categories_tree_container a {
        text-decoration: none;
        color: #999;
        cursor: pointer;
    }

    .categories_tree_container ul {
        padding-left: 20px;
        text-decoration: none;
    }

    .categories_tree_container li {
        text-decoration: none;
        list-style-type: none;
        margin-top:5px;
    }

    .menu_element {
        border: 2px;
        border-radius: 7px 0px 0px 0px;
        box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.3);
        border: 1px solid #999;
        /*     width: 200px;*/
        margin: 0 10px;
    }

    .menu_element :hover {
        font-weight: bold;
        background-color: transparent !important;
    }

    .highlight_row *:hover {
        color: #fff !important;
    }

    .active_category {
        font-weight: bold;
        color: #fff !important;
    }
}
