.icons_container {
    width: 596px;
    height: 300px;
    margin: auto;
    overflow-y: scroll;
}

.icon_tile {
    border: 1px solid #999;
    border-radius:  7px;
    box-shadow: inset 1px 1px 2px 1px rgba(0, 0, 0, 0.2);
    display: inline-flex;
    width: 50px;
    height: 50px;
    font-size: 36px;
    border: 1px solid #999;
    padding: 5px;
    margin: 2px 10px;
    color: #3a3a3a;
}

.icon_tile:hover {
    background-color: #F8EFC0;
    color: #000;
    cursor: pointer;
}