<div id="page-wrapper" data-ng-controller="categoriesCtrl">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Ikony
                </h1>
               <div  ng-include="'views/partials/breadcrumbs.html'"></div>
            </div>
        </div>

        <button type="button" class="btn btn-info btn-lg" data-ng-click="open();">Wybierz ikone</button>
    <!-- /.container-fluid -->
      <!--          <div ng-include="'views/partials/icons_modal.html'"></div>-->
</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

