<div id="page-wrapper" data-ng-controller="DashboardCtrl" style="margin-top: 10px; overflow-y: auto; height: 100%;">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <ol class="breadcrumb">
                    <div class="row">
                        <div class="col-lg-8" style="margin-top: 6px;">
                            <li class="active">
                                <i class="fa fa-dashboard"></i> Pulpit
                            </li>
                        </div>
                        <div class="col-lg-4">
                            <input type="text" class="form-control" placeholder="Wyszukaj" ng-model="tilesFilter">
                        </div>
                    </div>
                </ol>
            </div>
        </div>

        <!--  Użytkownik dodaje sobie kategorie które chce widziec tutaj na pulpicie. Za pomocą drag & drop użytkownik może
          ustalac
          sobie kolejnosc elementów. Cyfra informuje ile elementów jest w danej kategorii. Użytkownik może sobie sam
          wybrac jaki
          kolor ma miec kafelek oraz jaka ma być ikona przy nim. Ma to pomoc w łatwym przeglądaniu
  -->
        <div style="position: fixed; left: 50%; top: -5px; z-index: 10000;"
             ng-show="isSaved || isReverted || isDirty"  ng-class="{'slide_in_animation' : isSaved || isReverted || isDirty}">
            <div style="position: relative; left: -50%;"
                 class="alert alert-warning orange-gradient-background"
                 role="alert">
                <div class="text-center">
                    <p><strong>Zawartość pulpitu została zmieniona</strong></p>
                    <div class="btn-group" ng-show="isDirty">
                        <button type="button" class="btn btn-primary" style="width: 150px; margin-right: 10px;"
                                ng-click="save()"> Zapisz
                        </button>
                        <button type="button" class="btn btn-default" style="width: 150px; margin-left: 10px;"
                                ng-click="revert()">Przywróć
                        </button>
                    </div>
                    <div ng-show="!isDirty">
                        {{message}}
                    </div>
                </div>
            </div>
        </div>

        <div class="row-fluid">
            <ul class="thumbnails">
                <li class="tail" style="width: 25%;" data-ng-repeat="item in items | filter:{label : tilesFilter}" data-drop="true"
                    ng-model='items'
                    jqyoui-droppable="{index: {{$index}}, onDrop:'dropCallback(item, $index)', 'data-drop': false}">
                    <div class="col-lg-3 col-md-6 thumbnail" data-drag="{{item.drag}}"
                         data-jqyoui-options="{revert: 'invalid'}" ng-model="items"
                         jqyoui-draggable="{index: {{$index}},animate:false}"
                         style="width: 100%; background-color: transparent;">
                        <div class="panel" ng-class="item.colour">
                            <div class="panel-heading" style="padding-top: 5px; padding-bottom: 0px; ">
                                <div class="row">
                                    <div class="col-xs-3">
                                        <i class="fa fa-3x" ng-class="item.icon"></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div class="huge" style="margin-right: 10px;">{{item.numberOfLinks}}</div>
                                        <button type="button" style="position: absolute; top: -5px; right: 5px; font-size: 25px;" ng-click="deleteTile(item);" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    </div>
                                </div>
                                <div  class="row">
                                    <div class="wrap_lines" style="margin: 5px; text-align: right;">{{item.categoryGroup}} - {{item.label}}</div>
                                </div>
                            </div>
                            <a href="#/{{item.categoryGroup}}/{{item.publicId}}">
                                <div class="panel-footer">
                                    <span class="pull-left">Przeglądaj </span>
                                    <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                                    <div class="clearfix"></div>
                                </div>
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
    </div>


</div>
<!-- /#page-wrapper -->