<div id="page-wrapper">

<div class="container-fluid">

<!-- Page Heading -->
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Pulpit
        </h1>
        <ol class="breadcrumb">
            <li class="active">
                <i class="fa fa-dashboard"></i> Pulpit
            </li>
        </ol>
    </div>
</div>
Użytkownik dodaje sobie kategorie które chce widziec tutaj na pulpicie. Za pomocą drag & drop użytkownik może ustalac
sobie kolejnosc elementów. Cyfra informuje ile elementów jest w danej kategorii. Użytkownik może sobie sam wybrac jaki
kolor ma miec kafelek oraz jaka ma być ikona przy nim. Ma to pomoc w łatwym przeglądaniu



    <div sortTiles="items">
        <div class="col-lg-3 col-md-6" data-ng-repeat="item in items">
            <div class="panel panel-red">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-tasks fa-3x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">14</div>
                            <div>{{item.label}}</div>
                        </div>
                    </div>
                </div>
                <a href="#">
                    <div class="panel-footer">
                        <span class="pull-left">Przeglądaj</span>
                        <span class="pull-right"><i class="fa fa-arrow-circle-right"></i></span>

                        <div class="clearfix"></div>
                    </div>
                </a>
            </div>
        </div>

    </div>

</div>
<!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->