<div id="page-wrapper" data-ng-controller="linksCtrl" infinite-scroll="nextPage" scroll-threshold="400"
     style="overflow-y: auto; height: 100%;">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <div ng-include="'views/partials/breadcrumbs.html'"></div>
            </div>
        </div>

        <div class="panel panel-warning link_panel" >
            <div class="panel-heading orange-gradient-background link_panel_header" style="padding-bottom: 0px; padding-top: 10px;">
                <div class="row search">

                    <div class="col-lg-2">
                        <label class="label">Tytuł:</label>
                        <input type="text" class="form-control input-sm input" placeholder="Dowolny tytuł">
                    </div>
                    <div class="col-lg-2">
                        <label class="label">Komentarz:</label>
                        <input type="text" class="form-control input-sm input" placeholder="Dowolny komentarz">
                    </div>
                    <div class="col-lg-2">
                        <div class="form-group">
                            <label class="label">Autor:</label>
                            <select2 ng-model="search.author" options="authorsSearchOptions"
                                     style="width: 100%;"></select2>
                        </div>
                    </div>
                    <div class="col-lg-2">
                        <label class="label">Słowo kluczowe:</label>
                        <select2 ng-model="search.tag" options="tagsSearchOptions" style="width: 100%;"></select2>
                    </div>
                    <div class="col-lg-2">
                        <label class="label">Data dodania:</label>
                        <select2 ng-model="search.date" options="dateSearchOptions" style="width: 100%;" title="{{search.date}}"></select2>
                    </div>
                    <div class="col-lg-2">
                        <button type="button" class="btn btn-default btn-sm search-button">
                            <i class="fa fa-search"></i>
                            Wyszukaj
                        </button>
                    </div>
                </div>
            </div>
        </div>


        <!--        Tutaj lista zwykłych linków. Linki powinny być w kolejności odwrotnej do kolejności dodawania, a wiec najnowsze
                najwyzej. Tutaj nie powinno być paginacji, powinna to działać na zasadzie infinite scrolla, czyli linki się
                dociągają po zjechaniu na dół strony. Uzytkownik może oznaczyć dany link gwiazdką. Linki, które są okresowe
                (powinny same wygasnąć po danym czasie ustalonym przez użytkownika) powinny wyswietlać informację, kiedy ten
                czas upłynie. Przy każdym palenu użytkownik moze edytować dany link. W tym panelu powinna też być informacja o
                autorze linku, czyli czy sam to dodałem, czy link został mi zaproponowany przez znajomego. Poniżej linkim
                powinna znajdować się lista słów kluczowych, które też można edytować, dodawac nowe, usuwać. Pod linkiem powinna
                być także możliwość dodawania jakiejś notatki.

                Gdzies u gory powinna byc lista kategorii zdefiniowanych przez uzytkownika, tak aby mogl w łatwy sposob
                odfiltrować sobie wyswietlane linki. Bardziej zaawansowane wyszukiwanie powinno być w zakładce 'Wyszukiwarka'
         -->

        <div data-ng-repeat="link in links">
            <div ng-include="'views/partials/link_element.html'"></div>
        </div>

        <div ng-show="showLoadingPanel()" style="height: 50px;">
            <div class="alert alert-warning orange-gradient-background text-center" ng-show="isLoading"
                 style="height:30px; padding-top: 5px; border-color: #8a6d3b;"><strong>Ładowanie ...</strong></div>
        </div>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

