<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Linki
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Linki
                    </li>
                </ol>
            </div>
        </div>

        Tutaj lista zwykłych linków. Linki powinny być w kolejności odwrotnej do kolejności dodawania, a wiec najnowsze
        najwyzej. Tutaj nie powinno być paginacji, powinna to działać na zasadzie infinite scrolla, czyli linki się
        dociągają po zjechaniu na dół strony. Uzytkownik może oznaczyć dany link gwiazdką. Linki, które są okresowe
        (powinny same wygasnąć po danym czasie ustalonym przez użytkownika) powinny wyswietlać informację, kiedy ten
        czas upłynie. Przy każdym palenu użytkownik moze edytować dany link. W tym panelu powinna też być informacja o
        autorze linku, czyli czy sam to dodałem, czy link został mi zaproponowany przez znajomego. Poniżej linkim
        powinna znajdować się lista słów kluczowych, które też można edytować, dodawac nowe, usuwać. Pod linkiem powinna
        być także możliwość dodawania jakiejś notatki.

        Gdzies u gory powinna byc lista kategorii zdefiniowanych przez uzytkownika, tak aby mogl w łatwy sposob
        odfiltrować sobie wyswietlane linki. Bardziej zaawansowane wyszukiwanie powinno być w zakładce 'Wyszukiwarka'

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading" style="padding-bottom:30px; ">

                        <div class="col-lg-10"
                             style="padding-left:0px; overflow:hidden; height:20px; line-height:20px;">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <strong>JavaScript - Select2 </strong>Strona domowa kolesia od select2
                        </div>
                        <div class="col-lg-2" style="text-align:right; color:silver; padding-right:0px;">
                            28.08.2015 15:35
                        </div>
                    </div>
                    <div class="panel-body">
                        <a href="https://kevin-brown.com/#/home" target="_new">https://kevin-brown.com/#/home</a>
                    </div>
                    <div class="alert" style="padding-top:0px; padding-bottom:0px;">
                        <span class="label label-warning">#tag1</span>
                        <span class="label label-warning">#tag2</span>
                        <span class="label label-warning">#tag3</span>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading" style="padding-bottom:30px; ">

                        <div class="col-lg-10"
                             style="padding-left:0px; overflow:hidden; height:20px; line-height:20px;">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <strong>JavaScript - Select2 </strong>Strona domowa kolesia od select2
                        </div>
                        <div class="col-lg-2" style="text-align:right; color:silver; padding-right:0px;">
                            28.08.2015 15:35
                        </div>
                    </div>
                    <div class="panel-body">
                        <a href="https://kevin-brown.com/#/home" target="_new">https://kevin-brown.com/#/home</a>
                    </div>
                    <div class="alert" style="padding-top:0px; padding-bottom:0px;">
                        <span class="label label-warning">#tag1</span>
                        <span class="label label-warning">#tag2</span>
                        <span class="label label-warning">#tag3</span>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading" style="padding-bottom:30px; ">

                        <div class="col-lg-10"
                             style="padding-left:0px; overflow:hidden; height:20px; line-height:20px;">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <strong>JavaScript - Select2 </strong>Strona domowa kolesia od select2
                        </div>
                        <div class="col-lg-2" style="text-align:right; color:silver; padding-right:0px;">
                            28.08.2015 15:35
                        </div>
                    </div>
                    <div class="panel-body">
                        <a href="https://kevin-brown.com/#/home" target="_new">https://kevin-brown.com/#/home</a>
                    </div>
                    <div class="alert" style="padding-top:0px; padding-bottom:0px;">
                        <span class="label label-warning">#tag1</span>
                        <span class="label label-warning">#tag2</span>
                        <span class="label label-warning">#tag3</span>
                    </div>

                </div>
            </div>

        </div>

        <div class="row">
            <div class="col-lg-12 col-md-12">
                <div class="panel panel-warning">
                    <div class="panel-heading" style="padding-bottom:30px; ">

                        <div class="col-lg-10"
                             style="padding-left:0px; overflow:hidden; height:20px; line-height:20px;">
                            <span class="glyphicon glyphicon-star-empty" aria-hidden="true"></span>
                            <strong>JavaScript - Select2 </strong>Strona domowa kolesia od select2
                        </div>
                        <div class="col-lg-2" style="text-align:right; color:silver; padding-right:0px;">
                            28.08.2015 15:35
                        </div>
                    </div>
                    <div class="panel-body">
                        <a href="https://kevin-brown.com/#/home" target="_new">https://kevin-brown.com/#/home</a>
                    </div>
                    <div class="alert" style="padding-top:0px; padding-bottom:0px;">
                        <span class="label label-warning">#tag1</span>
                        <span class="label label-warning">#tag2</span>
                        <span class="label label-warning">#tag3</span>
                    </div>

                </div>
            </div>

        </div>


    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->

</div>
<!-- /#wrapper -->

