<div id="page-wrapper">

    <div class="container-fluid">

        <!-- Page Heading -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">
                    Linki
                </h1>
                <ol class="breadcrumb">
                    <li class="active">
                        <i class="fa fa-dashboard"></i> Linki
                    </li>
                </ol>
            </div>
        </div>

        Tutaj zaawansowana wyszukiwarka. Powinna szukac po slowach kluczowych, po zawartosci tytułu, po tym czy link
        dostał gwiazdke, po przedziale czasowym, po typie, po kategorii, po autorze (czy moj link czy link ktory
        dostałem od znajomego)

    </div>
    <!-- /.container-fluid -->

</div>
<!-- /#page-wrapper -->
